<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Join my list</title>
    <meta name="description" content="Join my list">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/form.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/10.7.0/validator.min.js"></script>

  </head>
  <body>
    <main>
      <h1>Join my list</h1>

      <form>
        <input name="name" placeholder="Name" />
        <input name="email" placeholder="Email" type="email" />
        <input type="submit" value="Join" >
      </form>

      <p>I'll send you an email every week. No spam ever!</p>
    </main>
  </body>
</html>
